<header class="bg-gradient-to-r from-slate-700 via-gray-800 to-gray-900 text-white shadow-lg">
  <nav class="container mx-auto flex justify-between items-center py-4 px-6">
    <!-- Logo / Brand -->
    <div class="flex items-center space-x-2">
      <a
        href="/"
        class="text-3xl font-extrabold tracking-wide transition duration-300 bg-gradient-to-r from-gray-900 via-purple-900 to-blue-900 bg-clip-text text-transparent drop-shadow-lg font-cursive"
        style="font-family: 'Pacifico', cursive"
      >
        <span class="text-blue-700 animate-pulse">Blog</span><span class="bg-gradient-to-bl from-teal-900 via-blue-800 to-slate-800 bg-clip-text text-transparent ml-1">Nest</span>
      </a>
    </div>
    <!-- Navigation Links -->
    <ul class="flex items-center space-x-2 md:space-x-6 font-medium">
      <li>
        <a
          href="/about"
          class="py-2 px-4 rounded-lg transition duration-300 <%= currentPage === 'AboutUs' ? 'bg-white text-red-500 shadow' : 'hover:bg-white hover:text-red-500' %>"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/"
          class="py-2 px-4 rounded-lg transition duration-300 <%= currentPage === 'ViewPost' ? 'bg-white text-red-500 shadow' : 'hover:bg-white hover:text-red-500' %>"
          >View Posts</a
        >
      </li>
      <% if (IsLoggedIn) { %> <% if (user && user.userType === 'reader') { %>
      <li>
        <a
          href="/favourites"
          class="py-2 px-4 rounded-lg transition duration-300 <%= currentPage === 'favourites' ? 'bg-white text-red-500 shadow' : 'hover:bg-white hover:text-red-500' %>"
          >Favourites</a
        >
      </li>
      <% } %> <% if (user && user.userType === 'author') { %>
      <li>
        <a
          href="/host/host-home-list"
          class="py-2 px-4 rounded-lg transition duration-300 <%= currentPage === 'host-homes' ? 'bg-white text-red-500 shadow' : 'hover:bg-white hover:text-red-500' %>"
          >Edit Post</a
        >
      </li>
      <li>
        <a
          href="/host/add-post"
          class="py-2 px-4 rounded-lg transition duration-300 <%= currentPage === 'AddNewPost' ? 'bg-white text-red-500 shadow' : 'hover:bg-white hover:text-red-500' %>"
          >Add New Post</a
        >
      </li>
      <li>
        <a
          href="/host/delete-post"
          class="py-2 px-4 rounded-lg transition duration-300 <%= currentPage === 'DeletePost' ? 'bg-white text-red-500 shadow' : 'hover:bg-white hover:text-red-500' %>"
          >Delete Post</a
        >
      </li>
      <% } %> <% } %> 
      <% if (!IsLoggedIn) { %>
      <li>
        <a
          href="/signup"
          class="py-2 px-4 rounded-lg transition duration-300 hover:bg-white hover:text-red-500"
          >Sign Up</a
        >
      </li>
      <li>
        <a
          href="/login"
          class="py-2 px-4 rounded-lg transition duration-300 hover:bg-white hover:text-red-500"
          >Login</a
        >
      </li>
      <% } else { %>
      <li>
        <form action="/logout" method="POST">
          <button
            type="submit"
            class="py-2 px-4 rounded-lg transition duration-300 hover:bg-white hover:text-red-500"
          >
            Logout
          </button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
